In [4]:
import pandas as pd
import numpy as ny
data={
    'Name':['Subodh','Rohit', 'Tejas', 'Aishwarya', 'Jaydeep'],
    'Age':[22,20,20,18,19],
    'Marks':[25,21,23,22,24]}

In [5]:
df=pd.DataFrame(data)
col=['Name']
print(df[col].head(3))
print(df[col].tail(3))
print(df['Marks'].mean())
print(df['Age'].median())

     Name
0  Subodh
1   Rohit
2   Tejas
        Name
2      Tejas
3  Aishwarya
4    Jaydeep
23.0
20.0